name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Package application
        working-directory: bank-application
        run: mvn package

      - name: Save build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: bank-application/target/
